.select {
  padding: 10px;
}
.params {
  border: 1px solid #495a8f;
  padding: 15px;
  max-width: 540px;
  box-shadow: 5px 5px 5px 5px grey;
}
.subs {
  text-align: center;
  padding: 15px;
  border: 1px solid #495a8f;
  box-shadow: 5px 5px 5px 5px grey;
}
.current {
  border: 1px solid #495a8f;
  padding: 20px;
  max-width: 540px;
}
.container {
  border: 1px solid #495a8f;
}
